@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;

    overflow: hidden;
}
.container{
    height: 80vh;
    width: 80vw;
    /* background: brown; */
    margin: 1rem auto;
    display: flex;
    flex-wrap:wrap;
}
.box{
height: 250px;
width: 350px;
/* background: rgba(0, 0, 0, 0.8); */
margin: 1rem;
color: #ffffff;
padding: 20px;
border-radius: 10px;
background:url('./allef-vinicius-iNOgTXeT3OM-unsplash.jpg') no-repeat center center/cover;
}
.box h2{
    margin-bottom: 10px;
    letter-spacing: 1px;
}
.box p{
    font-weight: 300;
    color: rgba(255, 255 , 255, 0.5);
}
.addNote{
    position: fixed;
    bottom: 10px;
    right: 10px;

}
.btn{
    padding: 0.9rem 1.2rem;
    border-radius: 50%;
    background: rgb(18, 18, 231);
    border: none;
    cursor: pointer;
}
.heading{
    padding-left: 4rem;
    padding-top: 1rem;
}
i{
    color: white;
}
.dele-btn{
    padding: 0.6rem 1.4rem;
    border-radius: 10px;
    border: none;
    background: tomato;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    position: relative;
    top:130px ;
    left: 220px;
}